<section id="home-view" class="mainbar" data-ng-controller="home as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="text-center text-info" data-ng-if="vm.ready">
                        <div data-ng-if="vm.hasEvents" data-ng-repeat="event in vm.events" class="well">
                            <p>Title : <a href="#/event/{{event.EventId}}">{{event.Title}}</a></p>
                            <p>Condition : <span>{{event.Condition}}</span></p>
                            <p>Duration : <span>{{event.StartDate | date: 'dd/MM/yyyy'}} - {{event.EndDate | date: 'dd/MM/yyyy'}}</span></p>
                            <p>
                                Arbiters :
                                <ul class="nav">
                                    <li data-ng-repeat="account in event.ArbiterAccountSet">
                                        <a href="#/{{account.Name}}">@{{account.Name}}</a>
                                    </li>
                                </ul>
                            </p>
                            <p>
                                <button class="btn btn-default" data-ng-click="vm.createHappenBet(event)" data-ng-if="event.HappenBetRate">
                                    H {{event.HappenBetRate.WinValue | number:3}}({{event.HappenBetRate.WinRate | number:3}})
                                </button>
                                <button class="btn btn-default" data-ng-click="vm.createNotHappenBet(event)" data-ng-if="event.NotHappenBetRate">
                                    BH {{event.NotHappenBetRate.WinValue | number:3}}({{event.NotHappenBetRate.WinRate | number:3}})
                                </button>
                            </p>
                        </div>
                        <div data-ng-if="!vm.hasEvents">
                            No results
                        </div>
                    </div>
                </div>
                <div data-ng-include="'/app/controllers/home/create.html'" data-ng-if="vm.creating"></div>
            </div>
        </div>
    </section>
</section>
