<section class="row" data-ng-controller="home as vm">
    <div class="text-center text-info container-fb-6" data-ng-if="vm.ready">
        <div data-ng-if="vm.hasEventsGroup" data-ng-repeat="eventGroup in vm.eventGroups" class="col-fb-{{$index + 1}}">
            <div>
                {{eventGroup.goupeName}}
            </div>
            <div data-ng-repeat="event in eventGroup.events" data-ng-include="'/app/controllers/event/event_short.html'" class="row-fb bet-status-1"></div>
        </div>
        <div data-ng-if="!vm.hasEventsGroup">
            No results
        </div>
    </div>
    <div data-ng-include="'/app/controllers/home/create.html'" data-ng-if="vm.creating"></div>
</section>
