<section id="user-view" data-ng-controller="user as vm">
    <div data-ng-if="vm.userExists">
        <div>
            <button class="btn btn-default" data-ng-click="vm.follow()" data-ng-if="!vm.isMe">Follow</button>
        </div>
        <div class="text-center text-info" data-ng-if="vm.ready">
            <div data-ng-if="vm.hasEvents">
                <div data-ng-repeat="event in vm.events" class="well">
                    <div data-ng-include="'/app/controllers/event/event_short.html'"></div>
                </div>
            </div>
            <div data-ng-if="!vm.hasEvents">
                No results
            </div>
        </div>
    </div>
    <div data-ng-if="!vm.userExists">
        User not found
    </div>
</section>
